<p style="color: green"><%= notice %></p>

<h1>Clientes</h1>
<%= link_to "Nuevo cliente", new_client_path %>

<div id="clients">
  <% @clients.each do |client| %>
    <br>
    <%= render client %>
    <strong>Pacientes: </strong><%= client.patients%>
    <br>
    <br>
    <%= link_to "Mostrar este cliente", client %>
    
  <% end %>
</div>


