<p style="color: green"><%= notice %></p>

<%= render @client %>

<div>
  <%= link_to "Editar este cliente", edit_client_path(@client) %> |
  <%= link_to "Listado de clientes", clients_path %>

  
</div>
<br>
<%= button_to "Eliminar este cliente", @client, method: :delete %>